<% issue_statuses = IssueStatus.all.map{|issue| [issue.name, issue.id]} %>
<table>
  <tbody>
  <tr>
    <th><%= l('label_issue_status') %></th>
    <td>
      <%= select_tag "settings_issue_status", options_for_select(issue_statuses),
                     name: "settings[issue_status]",
                     value: "#{settings['issue_status']}" %>
    </td>
  </tr>
  </tbody>
</table>
